
{% set title = 'Home' %}
{% extends 'layout.html' %}

{% block content %}
<div class="home"><p>
    This is an example of create, read, update, delete web application ###{{appname}}###
    built with Express.js v4.8.1, and Mongoskin&MongoDB 
    for&nbsp;<a href="http://proexpressjs.com">Pro Express.js</a>.</p>
    <p>The full source code is available at&nbsp;
        <a href="http://github.com/azat-co/todo-express">github.com/azat-co/todo-express</a>.</p>
        <p>For Express 3.x go to&nbsp;<a href="https://github.com/azat-co/todo-express/releases/tag/v0.1.0">release 0.1.0</a>.</p>
        <p>Using Nunjucks consolidate template.</p>
    </div>
</div>
{% endblock %}

